:root {
  --blue: #0074D9;
  --slider-thumb-height: 25px;
  --slider-thumb-width: 12px;
  --track-height: 2px;
  --track-color: #333;
}

* {
  font-family: -apple-system, 'avenir next', avenir, roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: 600;
  color: #333;
}
*:focus {
  outline: none;
}
/*slider styles*/
input[type="range"] {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #000000;
  height: var(--slider-thumb-height);
  width: var(--slider-thumb-width);
  background: #ffffff;
  cursor: pointer;
  margin-top: -10px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}
/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: var(--slider-thumb-height);
  width: var(--slider-thumb-width);
  background: #ffffff;
  cursor: pointer;
}
/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: var(--slider-thumb-height);
  width: var(--slider-thumb-width);
  background: #ffffff;
  cursor: pointer;
}
/*style the track*/
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--track-height);
  cursor: pointer;
  background: var(--track-color);
}
input[type=range]:focus::-webkit-slider-runnable-track {
  /*background: #367ebd;*/
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: var(--track-height);
  cursor: pointer;
  background: var(--track-color);
}
input[type=range]::-ms-track {
  width: 100%;
  height: var(--track-height);
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: var(--track-color);
}
input[type=range]:focus::-ms-fill-lower {
  background: var(--track-color);
}
input[type=range]::-ms-fill-upper {
  background: var(--track-color);
}
input[type=range]:focus::-ms-fill-upper {
  background: var(--track-color);
}

.half {
  width: 48%;
  display: inline-block;
}
.right {
  float: right;
}
.module {
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  border: solid 2px #333;
  margin-bottom: 1em;
  width: 100%;
  max-width: 500px;
}
.module span {
  color: var(--blue);
}
.module button {
  background-color: rgba(255, 255, 255, 0);
  border: solid 2px #333;
  font-size: 1em;
  cursor: pointer;
}

#repeater-on, #repeater-off, #trigger-once {
  cursor: pointer;
  background-color: #f3f3f3;
  border-bottom: solid 1px #bcbcbc;
  border-left: solid 1px #bcbcbc;
  padding: 5px;
}

/*------------------- UI -------------------------*/
/* universal code */

.preview {
  width: 289px;
  height: 289px;
  margin-top: 25px;
  margin-right: 25px;
  padding-left: 25px;
  padding-top: 25px;
  box-shadow: 0px 5px 20px -9px black;
  transition: box-shadow .3s ease-in;
}

.preview:hover {
  box-shadow: 0px 5px 44px -9px black;
}

.square {
  display: block;
  height: 35px;
  width: 35px;
  box-shadow: none;
  -webkit-transition: box-shadow 5s ease-out;
}

.square:hover {
  box-shadow: 0.5px 1px 4px -2px black;
  -webkit-transition: box-shadow 0s ease-in;
}

.active {
  background-color: red;
}

.marked {
  background-color: black;
  box-shadow: 0.5px 1px 4px -1px black;
  -webkit-transition: box-shadow 0s ease-in;
}

.p-marked {
  background-color: white
}

.p-col {
  display: inline-block;
}
.col {
  display: inline-block;
}

.pressed {
  background-color: white;
}

#tune-up, #tune-down {
  cursor: pointer;
}

.p-square {
  display: block;
  height: 15px;
  width: 15px;
  border: 0px solid white;
}

/* large breakpoint code */
@media (min-width: 1101px) {
  #controls {
    width: 500px;
  }
  .preview {
    display: inline-block;
  }
  #grids {
    position: fixed;
    height: 333px;
    width: 100vw;
    bottom: 10px;
    overflow: auto;
    white-space: nowrap;
  }
}

#dynamic-wrapper {
  height: calc(100vh - 333px);
}

#sequencer {
  height: 560px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 67px;
  max-width: 1143px;
}

#controls-panel {
  width: 500px;
  float: right;
}

#sequencer > * {
  display: inline-block;
}

#sequencer #grid-box {
  float: left;
}



/* medium breakpoint code */
@media (max-width: 1100px) {
  #grids {
    height: 100vh;
    overflow-y: scroll;
  }

  .preview {
    width: 289px;
    height: 289px;
    margin-top: 25px;
    padding-left: 25px;
    padding-top: 25px;
    box-shadow: 0px 5px 20px -9px black;
    transition: box-shadow .3s ease-in;
  }
}
